SECRET_KEY=knockknock
DB_USER=postgres
DB_HOST=containers-us-west-87.railway.app
DB_NAME=railway
DB_PASSWORD=XbLs8UvXqq2SFamiDoLZ
DB_PORT=7470
SERVER_KEY=SB-Mid-server-a499gWdPi04Ig3LNl3c1bu_J
CLIENT_KEY=SB-Mid-client-sgHwrkycrVZb3ZNm
EMAIL_SYSTEM=lopskinetic@gmail.com
PASSWORD_SYSTEM=urrhuyrabetqqcxq
PORT=5000
PATH_FILE=http://localhost:5000/uploads/
CLOUD_NAME=dgpfaia5d
API_KEY=978699759241774
API_SECRET=c-qfgSg7OMO8wIV8zTGfNgNs4G4

